.CartPage{
    text-align: center;
    padding-top: 10px;
}


.cartpage-totalprice{
    color: var(--primary-color);
    font-size: 23px;
    font-weight: 800;
    width: 25%;
}

.cartpage-container{
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

